body {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-info {
    text-align: center;
    padding-bottom: 2rem;
}

.row {
    margin-bottom: 1rem;
}

.report-cell {
    border: 1px solid #ECEEEF;
}

.nav-tabs {
    margin-bottom: 1rem;
}